<div class="container">
  <div class="row">
   <div class="col-lg-3">
     <%= render 'list', user: @user, new_book: @new_book %>
   </div>

   <div class="col-lg-8 offset-1">

<h1>Users</h1>

<table class="table table-striped">

      <thead>
       <tr>
         <th>image</th>
         <th>name</th>
         <th></th>
       </tr>
     </thead>

      <% @users.each do |user| %>
      <tbody>
       <tr>
          <td><%= image_tag user.get_profile_image(100,100) %></td>
          <td><%= user.name %></td>
          <td><%= link_to "show", user_path(user.id) %></td>
       </tr>
      </tbody>
      <% end %>
    </table>
   </div>
  </div>
</div>